<!DOCTYPE HTML>
<html lang="en" prefix="og:http://ogp.me/ns# fb:http://www.facebook.com/2008/fbml">

<head>
    <meta charset="utf-8">

    <title>樂天市場購物網-日本No.1的網路購物網</title>
    <meta name="description" content="樂天市場購物網，與日本同步流行的網路購物網，包含服飾配件、美食、名牌精品及3C等商品，天天都有抽獎拍賣市場等你挖寶，樂天市場購物網是您網路購物最佳選擇！" />
    <meta name="keywords" content="購物網,購物,網路購物,拍賣,線上購物" />

    <link rel="stylesheet" href="http://c.tw.rakuten-static.com/front/www/css/brand-ave/index/index-content-test-1.0.0.css">
    <meta property="og:title" content="樂天市場購物網-日本No.1的網路購物網" />
    <meta property="og:description" content="樂天市場購物網，與日本同步流行的網路購物網，包含服飾配件、美食、名牌精品及3C等商品，天天都有抽獎拍賣市場等你挖寶，樂天市場購物網是您網路購物最佳選擇！" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.rakuten.com.tw/" />
    <meta property="og:site_name" content="樂天市場購物網-日本No.1的網路購物網" />
    <meta property="fb:admins" content="100000569694669" />
    <link rel="canonical" href="http://www.rakuten.com.tw/" />
    <!--CSS開始-->
      <link href="css/<%= filename %>.css" media="all" rel="stylesheet" type="text/css" />
    <!--CSS結結束-->
    <link href="/favicon.ico" rel="shortcut icon" />
    <link href="http://www-contenttest.rakuten.com.tw/assets/application-8dd661f5e48c72f2c0ffcbc1cca24926.css" media="all" rel="stylesheet" type="text/css" />
    <link href="http://www-contenttest.rakuten.com.tw/assets/application_static-1b13569e9620782f423d4cd3ce931750.css" media="all" rel="stylesheet" type="text/css" />

    <meta content="authenticity_token" name="csrf-param" />
    <meta content="lyLRylRctf4jCCo6x+T1D9I3tf0PAbcQS0ITl67TBko=" name="csrf-token" />
</head>

<body ng-app="Rakuten" class="b-top" data-sp="false">
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MZNLTL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MZNLTL');
    </script>

    <div id="page">
        <div id="head">
            <div class="b-header">
                <div class="b-header-secondary">
                    <div class="b-header-inner">
                        <div class="b-brand b-brand-large">
                            <h1><a href="http://www-contenttest.rakuten.com.tw/?l-id=rakuten_top_header_logo" class="b-brand-logo">
            <span class="b-brand-logo-image b-sprite-logo-mall-large">Rakuten.com.tw Online Shopping</span>
            </a></h1>
                            <div class="b-brand-add-on">

                                <div class="contents">

                                    <div id="HTMLBlock229" class="HTMLBlock">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="b-utility-nav">
                            <ul class="b-nav-list">
                                <li>
                                    <a href="/help/guide/point/?l-id=rakuten_top_header_guide_superPoints">
        樂天超級點數
</a> 
                                </li>
                                <li>
                                    <a href="/help/guide/?l-id=rakuten_top_header_guide_shoppingGuide">購物指南</a>
                                </li>
                                <li>
                                    <a href="/info/ec/?l-id=rakuten_top_header_guide_EC">
        開設您的網路商店
</a> 
                                </li>
                            </ul>
                        </div>

                        <div class="b-utility-sub">
                            <ul class="b-mod-socials">
                                <li>
                                    <iframe scrolling="no" frameborder="0" allowtransparency="true" src="//platform.twitter.com/widgets/follow_button.1366232305.html#_=1366333129003&amp;id=twitter-widget-4&amp;lang=en&amp;screen_name=&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" style="width: 243px; height: 20px;" title="Twitter Follow Button" data-twttr-rendered="true">
                                    </iframe>
                                </li>
                                <li>
                                    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:105px; height:21px;" allowTransparency="true"></iframe>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="b-header-primary js-sticky">
                    <div class="b-header-inner b-header-cols">
                        <div class="b-header-col b-header-col-fluid">
                            <form action="/search" id="header_fm" method="get" data-location="http://www-contenttest.rakuten.com.tw/">
                                <div class="b-nav-search">
                                    <div class="b-dropdown" id="search_header_category">
                                        <select class="b-select-transparent" id="auto_search_header_category" name="">
                                            <option value="0" selected="selected">全部類別</option>
                                            <option value="1">手機與通訊</option>
                                            <option value="54">精品</option>
                                            <option value="187">美容與彩妝</option>
                                            <option value="343">居家</option>
                                            <option value="469">廚房</option>
                                            <option value="685">食品與甜點</option>
                                            <option value="779">玩具與電玩</option>
                                            <option value="1006">收藏品與藝術品</option>
                                            <option value="1174">寵物用品</option>
                                            <option value="1238">花與園藝</option>
                                            <option value="1265">音樂與影片</option>
                                            <option value="1331">圖書與雜誌</option>
                                            <option value="1606">嬰幼兒與孕婦</option>
                                            <option value="1708">汽機車精品百貨</option>
                                            <option value="1756">水與飲料</option>
                                            <option value="1785">電腦軟硬體與周邊配件</option>
                                            <option value="1907">數位相機、攝影機與周邊配件</option>
                                            <option value="1999">影音與家電</option>
                                            <option value="2088">流行女裝與女鞋</option>
                                            <option value="2269">流行男裝與男鞋</option>
                                            <option value="2362">運動</option>
                                            <option value="2452">手錶與流行飾品</option>
                                            <option value="2595">內衣類與睡衣</option>
                                            <option value="2633">美體與保健</option>
                                            <option value="2660">情趣商品</option>
                                        </select>
                                        <span class="b-dropdown-toggle" id="search_header_label">
                  <span class="b-selected-label">
                    全部類別</span>
                                        <b class="b-caret"></b>
                                        </span>
                                    </div>
                                    <div class="b-input-field">
                                        <input autocomplete="off" class="b-input-text b-active" data-lid="search_regular" data-suggest-cl="sgpmall" data-suggest-h="6" data-suggest-sid="69" data-suggest-url="http://api.suggest.search.rakuten.co.jp/suggest" id="k" maxlength="100" name="k" placeholder="關鍵字搜尋" type="text" />
                                        <input class="header_param" id="c" name="c" type="hidden" />
                                        <button id="header_search_btn" type="submit" value="" class="b-btn-search"><i class="b-icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="b-header-col">
                            <div id="user-info" class="b-nav-account" data-con="static">
                                <ul class="b-nav"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">


            <div id="HTMLBlock237" class="HTMLBlock">
            </div>
            <!--內容從這裡開始-->
            <div id="<%= filename %>_content"></div>
            <!--內容到這裡結束-->
        </div>

        <div id="foot" class="b-footer-full">
            <div class="b-footnavbar">

                <div class="contents">

                    <div id="HTMLBlock239" class="HTMLBlock">


                        <div class="b-footnavbar-child">
                            <div class="b-footernav-cols">
                                <div class="b-col">
                                    <dl class="b-nav-category-list">
                                        <dt>Categories</dt>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/1/" onclick="http://www-contenttest.rakuten.com.tw/category/1/?l-id=my_top_footer_cat_electronics">Electronics</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/34/" onclick="http://www-contenttest.rakuten.com.tw/category/34/?l-id=my_top_footer_cat_fashionaccessory">Fashion &amp; Accessory</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/97/" onclick="http://www-contenttest.rakuten.com.tw/category/97/?l-id=my_top_footer_cat_healthbeauty">Health &amp; Beauty</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/117/" onclick="http://www-contenttest.rakuten.com.tw/category/117/?l-id=my_top_footer_cat_home">Home</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/148/" onclick="http://www-contenttest.rakuten.com.tw/category/148/?l-id=my_top_footer_cat_foodbeverage">Food &amp; Beverage</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/174/" onclick="http://www-contenttest.rakuten.com.tw/category/174/?l-id=my_top_footer_cat_toygame">Toy &amp; Game</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/191/" onclick="http://www-contenttest.rakuten.com.tw/category/191/?l-id=my_top_footer_cat_hobbyarts">Hobby &amp; Arts</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/200/" onclick="http://www-contenttest.rakuten.com.tw/category/200/?l-id=my_top_footer_cat_pets">Pets</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/219/" onclick="http://www-contenttest.rakuten.com.tw/category/219/?l-id=my_top_footer_cat_moviesmusic">Movies &amp; Music</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/230/" onclick="http://www-contenttest.rakuten.com.tw/category/230/?l-id=my_top_footer_cat_bookmagazines">Books &amp; Magazines</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/252/" onclick="http://www-contenttest.rakuten.com.tw/category/252/?l-id=my_top_footer_cat_kidsbabymaternity">Kids Baby &amp; Maternity</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/265/" onclick="http://www-contenttest.rakuten.com.tw/category/265/?l-id=my_top_footer_cat_carbike">Car &amp; Bike</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/272/" onclick="http://www-contenttest.rakuten.com.tw/category/272/?l-id=my_top_footer_cat_sportoutdoor">Sports &amp; Outdoor</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/category/335/" onclick="http://www-contenttest.rakuten.com.tw/category/335/?l-id=my_top_footer_cat_businessindustrial">Business &amp; Industrial</a>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="b-col">
                                    <dl class="b-nav-category-list">
                                        <dt>Guide</dt>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/event/supersale/" onclick="http://www-contenttest.rakuten.com.tw/event/supersale/?l-id=my_top_footer_supersale">Malaysia Super Sale</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/help/guide/" onclick="http://www-contenttest.rakuten.com.tw/help/guide/?l-id=my_top_footer_shoppingguide">Shopping Guide</a>
                                        </dd>
                                        <dd><a href="http://support.rakuten.com.my/" onclick="http://support.rakuten.com.my/?l-id=my_top_footer_faq">FAQ</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/info/ec/" onclick="http://www-contenttest.rakuten.com.tw/info/ec/?l-id=my_top_footer_openstore">Open Your Online Store</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/info/shopdirectory/" onclick="http://www-contenttest.rakuten.com.tw/info/shopdirectory/?l-id=my_top_footer_shopdirectory">Shop Directory</a>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="b-col">
                                    <dl class="b-nav-category-list">
                                        <dt>About Us</dt>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/info/corp/" onclick="http://www-contenttest.rakuten.com.tw/info/corp/?l-id=my_top_footer_companyoverview">Company Overview</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/info/careers/" onclick="http://www-contenttest.rakuten.com.tw/info/careers/?l-id=my_top_footer_careers">Careers</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/info/press/" onclick="http://www-contenttest.rakuten.com.tw/info/press/?l-id=my_top_footer_pressreleases">Press Releases</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/info/maintenance/" onclick="http://www-contenttest.rakuten.com.tw/info/maintenance/?l-id=my_top_footer_maintenance">Maintenance Information</a>
                                        </dd>
                                        <dd><a href="http://www-contenttest.rakuten.com.tw/policy/terms_conditions/" onclick="http://www-contenttest.rakuten.com.tw/policy/terms_conditions/?l-id=my_top_footer_termsnconditions">Terms & Conditions</a>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="b-col b-col-wide">
                                    <dl class="b-nav-category-list">
                                        <dt>Contact Us</dt>
                                        <dd>
                                            <b class="b-definition">Shopper</b>
                                            <br>Chat with us or send your message <a href="https://rakutenmy.zendesk.com/account/dropboxes/20276637/" target="_blank"><B>from here</B></a> if you have any questions.
                                        </dd>
                                        <dd>
                                            <b class="b-definition">Merchant</b>
                                            <br>Click and check <a href="http://www-contenttest.rakuten.com.tw/info/ec/"><B>here</B></a>


                                        </dd>
                                    </dl>
                                    <dl class="b-nav-category-list">
                                        <dt>Follow Us</dt>
                                        <dd>
                                            <ul class="b-list-vertical b-social-links">
                                                <li>
                                                    <a href="http://www.facebook.com/RakutenMalaysia/" onclick="http://www.facebook.com/RakutenMalaysia/?l-id=my_top_footer_social_facebook"><i class="b-sprite-icon-facebook"></i>Like us on Facebook</a>
                                                </li>
                                                <li>
                                                    <a href="https://twitter.com/RakutenMalaysia/" onclick="https://twitter.com/RakutenMalaysia/?l-id=my_top_footer_social_twitter"><i class="b-sprite-icon-twitter"></i>Follow us on Twitter</a>
                                                </li>
                                                <li>
                                                    <a href="http://www-contenttest.rakuten.com.tw/event/line/" onclick="http://www-contenttest.rakuten.com.tw/event/line/?l-id=my_top_footer_social_line"><i class="b-sprite-icon-line"></i>Add us on LINE</a>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="b-footnavbar-child b-nav-partners">
                            <dl class="b-nav-category-list">
                                <dt>Payment Partners</dt>
                                <dd>
                                    <ul class="b-list-inline">
                                        <li>
                                            <img alt="iPay88" height="36" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_ipay-ca2e2d17f1381a013ca0883f0305ad84.gif" width="29" />
                                        </li>
                                        <li>
                                            <img alt="Maybank" height="28" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_maybank_footer-4cefec291a13cc645212e499f8ea0041.gif" width="103" />
                                        </li>
                                        <li>
                                            <img alt="CIMB Bank" height="28" src="http://intl.rakuten-static.com/b/my/image/part/footer/cimb.jpg" width="166" />
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="b-nav-category-list">
                                <dt>Shipping Partners</dt>
                                <dd>
                                    <ul class="b-list-inline">
                                        <li>
                                            <img alt="Poslaju National Courier" height="30" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_poslaju-f478dc48070679118921d1da9a7ef2b6.gif" width="108" />
                                        </li>
                                        <li>
                                            <img alt="TA-Q-BIN" height="33" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_taqbin-87270acfb174f4a6774f5ecd23660e22.gif" width="87" />
                                        </li>
                                        <li>
                                            <img alt="GD EX" height="30" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_gdex-a6e1c5209092db3bee591a83d9c13f00.gif" width="54" />
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="b-nav-category-list">
                                <dt>Payment Methods</dt>
                                <dd>
                                    <ul class="b-list-inline">
                                        <li>
                                            <img alt="MasterCard" height="28" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_mastercard-335fa9aba3005c13fc8b73e3104f8588.gif" width="46" />
                                        </li>
                                        <li>
                                            <img alt="Visa" height="28" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_visa-a9931debf705479459a7b9951ce0af9a.gif" width="61" />
                                        </li>
                                        <li>
                                            <img alt="Maybank2u.com Malaysia" height="28" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_bank_maybank2u-aa52c21a7f350140af9789dbbbbe1732.gif" width="96" />
                                        </li>
                                        <li>
                                            <img alt="CIMB Clicks" height="28" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_bank_cimb-2b2a4532940af8fc5f12acb11e47eaa6.gif" width="77" />
                                        </li>
                                        <li>
                                            <img alt="RHB Now" height="20" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_bank_rhb-2996fd98fec9b8ac7b53597e2fd2de4a.gif" width="63" />
                                        </li>
                                        <li>
                                            <img alt="Hong Leong Online" height="28" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_bank_hongleong-eb6d948daad9545ae1ba9a099e30feed.gif" width="118" />
                                        </li>
                                        <li>
                                            <img alt="AmBank Group" height="26" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_bank_ambank-e87924cbcccbcbcab0aeb832adf44372.gif" width="53" />
                                        </li>
                                        <li>
                                            <img alt="Bank Islam" height="26" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_bank_islam-8022afc74bbf5a98a31aedce48ddab7d.png" width="82" />
                                        </li>
                                        <li>
                                            <img alt="PBeBank.com" height="26" src="http://www-contenttest.rakuten.com.tw/assets/common/logo_bank_pbe-ad272f96a2fdcb3e60491949484bb474.png" width="82" />
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="b-footnavbar-child">
                    <ul class="b-list-horizontal-divided">
                        <li><a href="http://www.rakuten.at/" target="_blank"><b class="b-definition">奧地利</b></a>
                        </li>
                        <li><a href="http://www.rakuten.com.br/" target="_blank"><b class="b-definition">巴西</b></a>
                        </li>
                        <li><a href="http://ca.buy.com/" target="_blank"><b class="b-definition">加拿大</b></a>
                        </li>
                        <li><a href="http://www.priceminister.com/" target="_blank"><b class="b-definition">法國</b></a>
                        </li>
                        <li><a href="http://www.rakuten.de/" target="_blank"><b class="b-definition">德國</b></a>
                        </li>
                        <li><a href="http://www.rakuten.co.id/" target="_blank"><b class="b-definition">印尼</b></a>
                        </li>
                        <li><a href="http://www.rakuten.co.jp/?op=1&amp;lng=ja&amp;backurl=http%3a%2f%2fwww%2erakuten%2eco%2ejp%2f" target="_blank"><b class="b-definition">日本</b></a>
                        </li>
                        <li><a href="http://global.rakuten.com/en/" target="_blank"><b class="b-definition">日本商品國際配送</b></a>
                        </li>
                        <li><a href="http://www-contenttest.rakuten.com.tw/" target="_blank"><b class="b-definition">馬來西亞</b></a>
                        </li>
                        <li><a href="http://www.rakuten.com.sg/" target="_blank"><b class="b-definition">新加坡</b></a>
                        </li>
                        <li><a href="http://www.rakuten.es/" target="_blank"><b class="b-definition">西班牙</b></a>
                        </li>

                        <li><a href="http://www.tarad.com/" target="_blank"><b class="b-definition">泰國</b></a>
                        </li>
                        <li><a href="http://www.rakuten.co.uk/" target="_blank"><b class="b-definition">英國</b></a>
                        </li>
                        <li><a href="http://www.rakuten.com/" target="_blank"><b class="b-definition">美國</b></a>
                        </li>

                        <li class="last-child"><a href="http://global.rakuten.com/group/" target="_blank"><b class="b-definition">服務一覽</b></a>
                        </li>
                    </ul>
                </div>
                <div class="b-footnavbar-child">
                    <b class="b-definition">
        <a href="http://www-contenttest.rakuten.com.tw/policy/privacy/?l-id=tw__footer_privacy">隱私權保護政策</a>&nbsp;
      </b>
                    <small class="b-copyright">版權所有 &copy; 1997-2014 Rakuten, Inc. 保留一切權利。</small>
                </div>
            </div>
        </div>

    </div>
    <script src="http://www-contenttest.rakuten.com.tw/assets/application-40fdeca8afd18308d5dfe7d1b1c184b6.js" type="text/javascript"></script>
    <script src="http://www-contenttest.rakuten.com.tw/assets/application_top-76fa7ceace9004ef43155769f5e984e3.js" type="text/javascript"></script>

    <!--JS開始-->
    <script src="js/<%= filename %>.js"></script>
    <!--JS結束-->


    <script type="text/javascript">
        var trackingParam = {};
        trackingParam.pageName = "Rakuten Top"
        trackingParam.channel = "Rakuten Top"
        trackingParam.eVar15 = "Rakuten Top"
    </script>

    <!-- SiteCatalyst(start)-->
    <script src="http://www-contenttest.rakuten.com.tw/assets/application_sitecatalyst_test-cd5acef0a135d1ff0581c43176584aeb.js" type="text/javascript"></script>

    <script type="text/javascript">
        //<![CDATA[
        try {
            var s_code = s.t();
            if (s_code) document.write(s_code);
        } catch (e) {
            rakutenSC.log(e);
        }

         //]]>
    </script>
    <!-- SiteCatalyst(end) -->

    <script type="text/javascript">
        I18n.defaultLocale = "zh_TW";
        I18n.locale = "zh_TW";
        I18n.hostNormal = "www-contenttest.rakuten.com.tw";
    </script>


</body>

</html>

